@import './styles/settings.scss';

html,
body,
#root {
  min-height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

.app {
  min-height: 100vh;
  text-align: center;
  background-color: #c1ffc1;
  display: flex;
  flex-direction: column;

  .container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }
}
