@import '../../styles/mixins.scss';

.cards-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .search-wrapper {
    margin-top: 100px;
  }

  .cards {
    margin-top: 50px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 10px;
  }


  @include respond-to(cardBig) {
    .cards {
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }
  }

  @include respond-to(mobile) {
    .search-wrapper {
      display: flex;
      padding: 0 20px;
    }

    .cards {
      grid-template-columns: repeat(1, minmax(280px, 1fr));
    }
  }
}
